<a href="https://colab.research.google.com/github/adesoyejr/Hamoye/blob/master/HamoyeQuiz.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Question 1

In [62]:
# given two lists A and B as
A = [1, 2, 3, 4, 5, 6]
B = [13, 21, 34]

# the best way to create a new list A_B which concatenates both lists is
A_B = A+B
print(A_B)

[1, 2, 3, 4, 5, 6, 13, 21, 34]

# Question 2

In [ ]:
# to create an identity matrix in python

import numpy as np

np.identity(3)
# where 3 determines the size of the identity matrix

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

# Question 3

In [51]:
# import the neccessary libraries

import numpy as np
import pandas as pd

# get the dataset from the website url
url = 'https://raw.githubusercontent.com/WalePhenomenon/climate_change/master/fuel_ferc1.csv'

# read the data into a variable
data = pd.read_csv(url, error_bad_lines = False)

# group the data by fuel cost per unit burned
fuel_type = pd.DataFrame(data['fuel_type_code_pudl'])
#print(fuel_type)
fuel_burnt = pd.DataFrame(data['fuel_cost_per_unit_burned'])
# print(fuel_burnt)
fuel_type['fuel_burnt'] = fuel_burnt
print(fuel_type)

fuel_type.groupby('fuel_burnt')['fuel_type_code_pudl'].count()

      fuel_type_code_pudl  fuel_burnt
0                    coal       18.59
1                    coal       18.58
2                    coal       39.72
3                    coal       47.21
4                     gas        2.77
...                   ...         ...
29518                 gas        4.78
29519                 gas        3.65
29520                 gas        4.77
29521                coal        3.06
29522                 gas        0.00

[29523 rows x 2 columns]

fuel_burnt
-276.080       1
-174.670       1
-123.310       1
-119.040       1
-85.760        1
              ..
 65137.588     1
 69785.215     1
 80459.000     1
 83538.000     1
 139358.000    1
Name: fuel_type_code_pudl, Length: 19416, dtype: int64

# Question 4

In [ ]:

# to find the 75th percentile
# make the data into numpy array to calculate better
arr_data = np.array(data['fuel_mmbtu_per_unit'])
datframe_data = pd.DataFrame(arr_data)
# finding the 75th percentile
percen75 = datframe_data.quantile(.75)

# print the result
print(round(percen75, 2))

0    17.01
Name: 0.75, dtype: float64

# Question 5

In [ ]:
from scipy.stats import kurtosis
# finding the skewness

data_burned = data['fuel_qty_burned']

data_skew = data_burned.skew(axis = 0, skipna=True)
print(round(data_skew, 2))

#finding the  kurtosis

data_kurt = data_burned.kurtosis(axis = 0, skipna = None, level = None, numeric_only= None)
print(round(data_kurt, 2))

15.85
651.37

# Question 6

# Qeuestion 7

In [ ]:

pd.DataFrame(data.isnull()).sum()

record_id                         0
utility_id_ferc1                  0
report_year                       0
plant_name_ferc1                  0
fuel_type_code_pudl               0
fuel_unit                       180
fuel_qty_burned                   0
fuel_mmbtu_per_unit               0
fuel_cost_per_unit_burned         0
fuel_cost_per_unit_delivered      0
fuel_cost_per_mmbtu               0
dtype: int64

# Question 8

# Question 9

In [ ]:
data.groupby('report_year')['report_year'].count()

col1 = pd.Series(data['report_year'])
col2 = pd.Series(data['fuel_cost_per_unit_burned'])
dataf = pd.DataFrame(col1, col2)
# print(dataf)

dataf.pct_change(axis = 0)

# Question 10

In [72]:
data_units = pd.Series(data['fuel_cost_per_unit_delivered'])
report = pd.Series(data['report_year'])
both = pd.DataFrame(data_units, report)

sorted(both, key=None, reverse=False)

['fuel_cost_per_unit_delivered']